#content {
	position: relative;
	z-index: 2;
	max-width: 400px;
	margin: 0 auto;
}
article {
	padding-bottom: 800px;
}
#bg {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 25%;
}
#bg1, #bg2, #bg3, #bg4 {
	position: absolute;
}
#bg1 {
	top: 85px;
	left: -270px;
}
#bg2 {
	top: 440px;
	left: 795px;
}
#bg3 {
	top: 900px;
	left: -220px;
}
#bg4 {
	top: 1020px;
	left: 450px;
}
